.navLink {
  float: left;
  padding: 12px;
  text-decoration: none;
  font-size: 1.4vw;
  width: 25%;
  text-align: center;
}

.navList {
  width: 100%;
  overflow: auto;
}

.navMobileBtn {
  display: none;
}

@media only screen and (max-width: 1100px) {
  .navLink {
    float: left;
    padding: 12px;
    text-decoration: none;
    font-size: 2vw;
    width: 50%;
    text-align: center;
  }
}

/* Add responsiveness - on screens less than 500px, make the navigation links appear on top of each other, instead of next to each other */
@media screen and (max-width: 600px) {
  .navMobileBtn {
    display: block;
    padding: 2%;
  }

  #navMain {
    display: none;
  }
}
